* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    body
    {
        background-color: #755858;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;

    }
    .row
    {
        width: 100%;
        
    }
    .title
    {
        text-align: center;
        padding: 30px;
    }
    div {
      float: left;
      padding: 10px;
      margin: 0;
      border: 1px solid black;

    }
    
    .div1 {
      background: #755858;
      width: 33.33%;
      position: relative;
      top: 0;
      
    }
    
    .div2 {
      background: #444417;
      width: 33.33%;
      position: relative;
      top: 0;
    }
    
    .div3 {
      background: #1f301f;
      width: 33.33%;
      position: relative;
      top: 0;
    }
    .h3
    {
       
        text-align: right;
        position: absolute;
        top: 0;
        right: 0;
        clear: right;
        width: 26%;
        align-items: center;
        justify-content: center;
    }
    .one 
    {
        background-color: #090933;
        color: #fff;
    }
    .two 
    {
        background-color: #1b1b31;
        color: #fff;
    }
    .three 
    {
        background-color: #2e2e5f;
        color: #fff;
    }
    .clear
    {
        margin-top: 10px;
    }

    @media (max-width: 992px)
    {
        .div1, .div2, .div3 {
            float: left;

        }
        .div1
        {
            width: 33.33%;
        }
        .div2
        {
            width: 66.66%;
        }
        .div3
        {
            width: 100%;
        }
    }
    @media (min-width: 768px) and (max-width: 991px)
    {
        .div1, .div2, .div3 {
            float: left;
        }
        .div1
        {
            width: 50%;
        }
        .div2
        {
            width: 50%;
        }
        .div3
        {
            width: 100%;
        }
    }
    @media (max-width: 767px)
    {
        .div1, .div2, .div3 {
            float: left;
        }
        .div1
        {
            width: 100%;
        }
        .div2
        {
            width: 100%;
        }
        .div3
        {
            width: 100%;
        }
    }
